@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(     default color which is white
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ); */
  background:#092e9c; /* added this color for blending with header bg-colour */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-xl {
  font-size: 1.2rem;
  /* Default font size */
}

@media (max-width: 768px) {
  .text-xl {
    font-size: 1.2rem;
    /* Font size for screens up to 768px wide */
  }
}

@media (max-width: 480px) {
  .text-xl {
    font-size: 1rem;
    /* Font size for screens up to 480px wide */
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animate-blink {
    animation: blink 1.5s infinite;
  }
  
}
